.App {
  text-align: center;
}

.noteForm input {
  margin: 0.5rem auto;
  width: 50%;
}

.notes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.note, .noteForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
}

.note button, .noteForm button {
  width: 50%;
  margin: 0 auto;
}

.noteImage {
  border-radius: 100%;
  width: 50%;
  height: 50%;
  margin: 1rem auto;
}